@charset "utf-8";

html,body{
    margin: 0;
    font: 16px "Microsoft Yahei","苹方",sans-serif;
}

input,select,textarea,button{
    padding: 6px;
    font: 15px "Microsoft Yahei","苹方",sans-serif;
}

.form_ctrl{
    padding-top: 20px;
}
.button_ctrl{
    margin-top: 20px;
}
.form_ctrl input{
    border: 1px solid #999;
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.3s;
}
.form_ctrl input:focus{
    border: 1px solid rgb(190, 17, 243);
    box-shadow: 0 0 12px rgba(190, 17, 243, 0.8);
}
/*列表样式*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 10px 14px rgba(0,0,0,0.15);
}
ul > li{
    padding: 10px 12px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    user-select: none;
}
ul >li:last-child{
    border-bottom: none;
}
ul > li.checked{
    background-color: #2396fd;
    border-bottom: 1px solid #1586e9;
    color: #ffffff;
}
.wait{
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url('../img/waiting.svg');
    background-repeat: no-repeat;
    animation: rotateWaiting 2s linear infinite;
}
#wait-layer{
    display: none;
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0,0,0,0.36);
    z-index: 999;
}
/* 设置帧动画 */
@keyframes rotateWaiting{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}